.order-confir {
  border-style: solid;
  border-color: red;
  border-width: 1px;
  height: 1000px;
  width: 80%;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 10%; }
  .order-confir .order-confir-top {
    border-style: solid;
    border-color: red;
    border-width: 1px;
    width: 100%;
    height: 20%; }
  .order-confir .order-confir-center {
    border-style: solid;
    border-color: red;
    border-width: 1px;
    width: 100%;
    height: 50%;
    display: flex; }
    .order-confir .order-confir-center .order-confir-center-right {
      border-style: solid;
      border-color: red;
      border-width: 1px;
      width: 40%;
      height: 100%; }
    .order-confir .order-confir-center .order-confir-center-left {
      border-style: solid;
      border-color: red;
      border-width: 1px;
      width: 60%;
      height: 100%;
      display: flex;
      flex-direction: column; }
      .order-confir .order-confir-center .order-confir-center-left .order-confir-center-left-a {
        border-style: solid;
        border-color: red;
        border-width: 1px;
        width: 100%;
        height: 10%;
        background-color: #ffffff;
        display: flex; }
        .order-confir .order-confir-center .order-confir-center-left .order-confir-center-left-a .title-title-title {
          border-style: solid;
          border-color: red;
          border-width: 1px;
          font-size: 25px;
          font-weight: 600;
          position: relative;
          top: 10%; }
        .order-confir .order-confir-center .order-confir-center-left .order-confir-center-left-a .order-confir-center-left-a-a {
          border-style: solid;
          border-color: red;
          border-width: 1px;
          width: 30%;
          height: 100%;
          display: block; }
          .order-confir .order-confir-center .order-confir-center-left .order-confir-center-left-a .order-confir-center-left-a-a .order-confir-center-left-a-a-a {
            border-style: solid;
            border-color: red;
            border-width: 1px;
            position: relative;
            left: 0%;
            top: 20%; }
        .order-confir .order-confir-center .order-confir-center-left .order-confir-center-left-a .order-confir-center-left-a-b {
          border-style: solid;
          border-color: red;
          border-width: 1px;
          width: 70%;
          height: 100%; }
          .order-confir .order-confir-center .order-confir-center-left .order-confir-center-left-a .order-confir-center-left-a-b .order-confir-center-left-a-a-a {
            border-style: solid;
            border-color: red;
            border-width: 1px;
            position: relative;
            left: 0%;
            top: 20%; }
      .order-confir .order-confir-center .order-confir-center-left .order-confir-center-left-b {
        border-style: solid;
        border-color: red;
        border-width: 1px;
        width: 100%;
        height: 10%;
        background-color: #f5f5f5;
        display: flex; }
        .order-confir .order-confir-center .order-confir-center-left .order-confir-center-left-b .order-confir-center-left-a-a {
          border-style: solid;
          border-color: red;
          border-width: 1px;
          width: 30%;
          height: 100%;
          display: block; }
          .order-confir .order-confir-center .order-confir-center-left .order-confir-center-left-b .order-confir-center-left-a-a .order-confir-center-left-a-a-a {
            border-style: solid;
            border-color: red;
            border-width: 1px;
            position: relative;
            left: 0%;
            top: 20%; }
        .order-confir .order-confir-center .order-confir-center-left .order-confir-center-left-b .order-confir-center-left-a-b {
          border-style: solid;
          border-color: red;
          border-width: 1px;
          width: 70%;
          height: 100%; }
          .order-confir .order-confir-center .order-confir-center-left .order-confir-center-left-b .order-confir-center-left-a-b .order-confir-center-left-a-a-a {
            border-style: solid;
            border-color: red;
            border-width: 1px;
            position: relative;
            left: 0%;
            top: 20%; }
      .order-confir .order-confir-center .order-confir-center-left .order-confir-center-left-bbb {
        border-style: solid;
        border-color: red;
        border-width: 1px;
        width: 100%;
        height: 20%;
        background-color: #f5f5f5; }
        .order-confir .order-confir-center .order-confir-center-left .order-confir-center-left-bbb .order-confir-center-left-a-abbbb {
          border-style: solid;
          border-color: red;
          border-width: 1px;
          width: 40%;
          height: 60%;
          display: block;
          position: relative;
          top: 20%;
          left: 60%;
          border-radius: 10px;
          background-color: red;
          cursor: pointer; }
          .order-confir .order-confir-center .order-confir-center-left .order-confir-center-left-bbb .order-confir-center-left-a-abbbb:hover {
            opacity: 0.3; }
          .order-confir .order-confir-center .order-confir-center-left .order-confir-center-left-bbb .order-confir-center-left-a-abbbb:active {
            background-color: green; }
          .order-confir .order-confir-center .order-confir-center-left .order-confir-center-left-bbb .order-confir-center-left-a-abbbb .order-confir-center-left-a-a-abbbb {
            border-style: solid;
            border-color: red;
            border-width: 1px;
            color: white;
            position: relative;
            top: 20%;
            left: 28%;
            font-size: 25px;
            font-weight: 600; }
        .order-confir .order-confir-center .order-confir-center-left .order-confir-center-left-bbb .order-confir-center-left-a-abbb {
          border-style: solid;
          border-color: red;
          border-width: 1px;
          width: 40%;
          height: 60%;
          display: block;
          position: relative;
          top: 20%;
          left: 60%;
          border-radius: 10px;
          background-color: white; }
          .order-confir .order-confir-center .order-confir-center-left .order-confir-center-left-bbb .order-confir-center-left-a-abbb .order-confir-center-left-a-a-abbb {
            border-style: solid;
            border-color: red;
            border-width: 1px;
            color: red;
            position: relative;
            top: 20%;
            left: 15%;
            font-size: 25px;
            font-weight: 600; }
  .order-confir .order-confir-bottom {
    border-style: solid;
    border-color: red;
    border-width: 1px;
    width: 100%;
    height: 20%;
    font-weight: 600; }
