.edit {



    .edit-header {
        margin: 10px;
        display: flex;
        justify-content: space-between;
    }

    .edit-all-body {
        margin: 10px;


        .edit-body {
            margin: 10px;
            display: flex;
            flex-wrap: wrap;

            .all {
                padding: 8px;
                margin: 5px;
                display: flex;
                flex-direction: column;
            }
        }

        .edit-button {
            margin-left: 30px !important;
            margin-bottom: 50px !important;

            button {
                cursor: pointer;
                padding-right: 5px;
                padding-left: 5px;

            }

        }

        .edit-header {
            padding: 5px;
            margin: 8px;
        }
    }
}